.animation-control {
  position: absolute;
  font-size: 1.5em;
  bottom: 8vh;
  display: flex;
  width: 100vw;
  flex-flow: row;
  margin: 0;
}

.animation-control button {
  margin: 0 15vw;
  padding: 0.5em;
  font-size: 1em;
}

#control-prev {
  left: 15vw;
}

#control-next {
  right: 15vw;
}

#control-status {
  margin: 0 auto;
  align-self: center;
}

@media (max-width: 580px) {
  .animation-control {
    flex-flow: column;
  }
}
