
#titel-bar img{
  width: 100px;
  margin: 16px;
  display: inline-block;
}

h1{
  margin: 30px 16px 30px 0;
  display: inline-block;
}

#titel-bar{
  margin: 16px 0 16px 0;
  display: flex;
  justify-content: lef;
  align-items: center;
}

.hamburger {
  z-index: 2;
  position: fixed;
  top: 16px;
  left: 16px;
}

.hamburger:hover, button:hover, .toggle-container:hover, .ps-menu-root li img:hover {
  cursor: pointer;
}

.toggle-sides-container {
  z-index: 2;
  padding: 16px;
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-sides-label {
  z-index: 2;

}

.toggle-container {
  vertical-align: middle;
  z-index: 2;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  background-color: #ccc;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

.toggle-button {
  width: 25px;
  height: 20px;
  background-color: gray;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
  padding-top: 5px;
}

.toggle-container.toggled {
  background-color: #4caf50;
}

.toggle-button.toggled {
  transform: translateX(25px);
  background-color: white;
}

.cube-net {
  max-width: 100%;
  max-height: 100px;
}

.ps-sidebar-container{
  background-color: rgb(255, 255, 255, 1) !important;
}


.ps-submenu-expand-icon{
  padding-bottom: 7px;
}

.menuitem-cubenet{
  cursor: pointer;
  text-align: center;
  margin: 20px;
  border-style: solid;
  border-color: #eee;
  padding: 10px;
}

.menuitem-cubenet:hover{
  background-color: #eee;
}

.menuitem-cubenet span{
  text-align: left;
  display: block;
}
.menuitem-cubenet img{
  margin-top: -5px;
  margin-bottom: 10px;
}


li {
  text-align: left;
}

.line{
  width: 100%;
  border-style: solid none none none;
  border-color: #eee;
}
